@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import "tailwindcss";
@import "./theme.css";

:root {
  --font-primary : 'Inter', sans-serif;
  --font-secondary : 'Londrina Shadow', sans-serif;
}

body {
  font-family: var(--font-primary), sans-serif;
}

@theme {
  --font-londrina: var(--font-secondary), sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}